$hoverColor: #FFEDE7;
$primaryColor: #FF7F50;

$health_unhealthy: #8B0000;
$health_healthy: #CCCC00;
$health_very_healthy: #228B22;

:export {
    hoverColor: $hoverColor;
    primaryColor: $primaryColor;

    healthUnhealthy: $health_unhealthy;
    healthHealthy: $health_healthy;
    healthVeryHealthy: $health_very_healthy;
}